body{
    background-color: #C0C0C0;
    /*background: url("../img/1.jpg");*/
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
}
.back{
    background-color: #00b3ee;
}